<!-- FOOTER
---------------------------------------------------------------------------->
<footer id="footer">
  <div class="container">
    <div class="row">


      <div class="span4">
        <strong class="lead">DET KONGELIGE BIBLIOTEK</strong>
        <ul class="unstyled">
          <li><a href="http://www.kb.dk/da/kb/aabningstider/index.html">Åbningstider &amp; Adresser</a></li>
          <li><a href="http://kontaktbiblioteket.kb.dk">Kontakt biblioteket</a></li>
          <li><a href="http://www.kb.dk/da/kb/handicap/index.html">Handikap-information</a></li>
          <li><a href="http://www.kb.dk/da/kb/webstedet/cookiepolitik.html">Cookie- og privatlivspolitik</a></li>
          <li><a href="http://www.kb.dk/da/kb/webstedet/index.html">Om webstedet</a></li>
        </ul>
      </div>

    </div>

    <hr>

    <div class="row">

      <a href="http://www.kb.dk" class="col-xs-2 col-sm-1 hidden-sm hidden-xs">
        <img src="/assets/bifrost/footerLogo.png" class="img-responsive" alt="Det Kongelige Bibliotek">
      </a>
      <div class="span11">
        <address>
          <p>
            <strong>
              Det Kongelige Bibliotek<br>
              Nationalbibliotek og Københavns Universitetsbibliotek
            </strong>
            <small>
              <br>
              Søren Kierkegaards Plads 1 - 1219 København K - EAN: 5798 000795297 - <abbr title="Telefon nr.">Tlf: </abbr>+45 33 47 47 47 - E-mail <a href="mailto:kb@kb.dk">kb@kb.dk</a>
              <br>
              <span class="glyphicon glyphicon-thumbs-up"></span> <a href="https://www.facebook.com/DetKongeligeBibliotek" target="_blank">Følg os på Facebook</a>
            </small>
          </p>
        </address>
      </div>
    </div>

  </div>

</footer>