<!DOCTYPE html>
<html>
<head>
  <title>Bifrost</title>
  <%= stylesheet_link_tag    "bifrost/application", media: "all" %>
  <%= javascript_include_tag "bifrost/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
